@import "/home/utsav/.config/waybar/themes/gruvbox.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1rem;
}

window#waybar {
  background-color: @bg0;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  font-size: 0.5rem;
  margin: 0.125rem;
  padding: 0.75rem;
  border-radius: 0rem;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button:hover {
  color: @bg2;
}

#workspaces button.active {
  color: @color6;
  transition: all 0.1s ease-in-out;
  animation: ws_active 20s ease-in-out 1;
}

#workspaces button.active:hover,
#workspaces button:not(.active):not(.empty):not(:hover) {
  color: @bg4;
}

.modules-left,
.modules-right,
.modules-center {
  /*background-color: @bg0;*/
  /*border-radius: 0.6125rem; */
  /*margin: 0.125rem;*/
  /*padding: 0 0.5rem;*/
}

tooltip {
  background: @bg0;
  border-radius: 0.6125rem;
  margin: 0.25rem;
  padding: 0.5rem;
}

#memory,
#backlight,
#pulseaudio,
#cpu,
#disk,
#battery {
  margin: 0 0.6125rem 0 0.6125rem;
}

#memory {
  color: @color2;
  /*padding-left: 0.6125rem;*/
}

#backlight {
  color: @color3;
}

#pulseaudio {
  color: @color1;
}

#cpu,
#disk {
  color: @color5;
}

#battery,
#tray {
  color: @color6;
}

#custom-swaync,
#hyprland-window,
#custom-updates,
#clock,
#custom-weather,
#custom-hyprsunset,
#tray {
  margin: 0 0.6125rem 0 0.6125rem;
}

#power-profiles-daemon,
#network {
  margin: 0 1rem 0 0.5rem;
}

#bluetooth {
  margin: 0 1rem 0 1rem;
}

#custom-hyprsunset {
  font-size: 1.25rem;
}

#bluetooth,
#power-profiles-daemon.balanced {
  color: @color12;
}

#bluetooth.disabled,
#bluetooth.offline,
#network.disabled,
#network.offline {
  color: @bg2;
}

#network,
#power-profiles-daemon.power-saver {
  color: @color14;
}

#power-profiles-daemon.performance {
  color: @color9;
}
