* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: Iosevka NerdFont;
	font-weight: 600;
	font-size: 14px;
}

window#waybar {
	background-color: #000000;
	/* AMOLED pure black */
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.5;
}

#workspaces {
	background-color: transparent;
}

#workspaces button {
	all: initial;
	/* Remove GTK theme values (waybar #1351) */
	min-width: 0;
	/* Fix weird spacing in materia (waybar #450) */
	box-shadow: inset 0 -3px transparent;
	/* Use box-shadow instead of border so the text isn't offset */
	padding: 6px 18px;
	margin: 6px 3px;
	border-radius: 4px;
	background-color: #1d2021;
	/* Gruvbox dark hard bg1 */
	color: #ebdbb2;
	/* Gruvbox light fg */
}

#window {
	background-color: transparent;
	color: #ebdbb2;
	padding: 0px 6px;
	margin: 0px 6px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button.active {
	color: #1d2021;
	/* Gruvbox dark hard bg1 */
	background-color: #d79921;
	/* Gruvbox yellow (darker) */
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: #1d2021;
	/* Gruvbox dark hard bg1 */
	background-color: #b57614;
	/* Gruvbox yellow (even darker) */
}

#workspaces button.urgent {
	background-color: #cc241d;
	/* Gruvbox red (darker) */
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-power,
#custom-swaync,
#idle_inhibitor,
#memory,
#network,
#temperature,
#tray,
#wireplumber {
	border-radius: 4px;
	margin: 6px 3px;
	background-color: #3c3836;
	/* Gruvbox dark hard bg2 */
	color: #1d2021;
	/* Gruvbox dark hard bg1 */
}

#idle_inhibitor,
#network,
#bluetooth,
#custom-power,
#custom-swaync,
#wireplumber {
	padding: 6px 16px 6px 12px;
}

#backlight,
#battery,
#clock,
#cpu,
#memory,
#temperature,
#tray {
	padding: 6px 12px;
}

#custom-power {
	margin-right: 6px;
}

#custom-swaync {
	background-color: transparent;
	color: #ebdbb2;
}

#custom-logo {
	padding: 0 8px;
	margin: 0 8px;
	font-size: 15px;
	border-radius: 8px 0 0 8px;
	color: #458588;
	/* Gruvbox blue (darker) */
}

#idle_inhibitor {
	background-color: #98971a;
	/* Gruvbox green (darker) */
}

#cpu {
	background-color: #d79921;
	/* Gruvbox yellow (darker) */
}

#bluetooth {
	background-color: #458588;
	/* Gruvbox blue (darker) */
}

#temperature {
	background-color: #b16286;
	/* Gruvbox purple (darker) */
}

#memory {
	background-color: #d65d0e;
	/* Gruvbox orange (darker) */
}

#battery {
	background-color: #cc241d;
	/* Gruvbox red (darker) */
}

#battery.warning,
#battery.critical,
#battery.urgent {
	background-color: #9d0006;
	/* Gruvbox red (even darker) */
	color: #d79921;
	/* Gruvbox yellow (darker) */
}

#battery.charging {
	background-color: #79740e;
	/* Gruvbox green (even darker) */
	color: #1d2021;
	/* Gruvbox dark hard bg1 */
}

#backlight {
	background-color: #af3a03;
	/* Gruvbox orange (even darker) */
}

#wireplumber {
	background-color: #d79921;
	/* Gruvbox yellow (darker) */
}

#network {
	background-color: #689d6a;
	/* Gruvbox aqua (darker) */
	padding-right: 17px;
}

#clock {
	font-family: JetBrainsMono Nerd Font;
	background-color: transparent;
	color: #ebdbb2;
}

#custom-power {
	background-color: #b16286;
	/* Gruvbox purple (darker) */
}

tooltip {
	border-radius: 8px;
	padding: 15px;
	background-color: #000000;
	/* AMOLED pure black */
}

tooltip label {
	padding: 5px;
	background-color: #000000;
	/* AMOLED pure black */
}
