* {
  bg0:      #000000;
  bg1:      #1d2021;
  bg2:      #282828;
  bg3:      #3c3836;
  bg4:      #7c6f64;

  fg0:      #fbf1c7;
  fg1:      #ebdbb2;
  fg2:      #d5c4a1;
  fg3:      #bdae93;
  fg4:      #a89984;

  red:      #cc241d;
  green:    #98971a;
  yellow:   #d79921;
  blue:     #458588;
  purple:   #b16286;
  aqua:     #689d6a;
  orange:   #d65d0e;
  gray:     #928374;
 
  accent:   #ebdbb2;

  background-color: transparent;
  text-color:       @fg0;
}
